{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5845574970597127" crossorigin="anonymous"></script>
    <meta name="google-site-verification" content="frnZotcGdM52efWAKhQh-hHEa927s5N-2ZAPKaHCIzk" />
    <title>ZocialFi</title>
    <link rel="stylesheet" href="{% static '../static/css/style.css'%}">
</head>
<body>
    {% block content %}
    {% endblock %}
<script src="{% static '../static/js/script.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</body>
</html>